@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: "Roboto", sans-serif;
}

@keyframes entering {
  from { 
    opacity: 0;
    transform: translateY(-200px);
  }
  to { 
    opacity: 1;
    transform: translateY(0);
  }
}


.imgPerfil:nth-child(2) {
  border: 4px solid transparent;
  background: linear-gradient(#d39e33, #ed5636, #633bbc) padding-box,
    linear-gradient(260deg, #d39e33, #ed5636, #633bbc) border-box;
}
